<div class="container-lg mt-4">
  <div class="col-12">
    <h2>Smelts Dashboard</h2>

  </div>
</div>

<div class="container-lg mt-4 d-flex">
  <div class="col-6">
    <div class="Box">
      <div class="Box-header">
        <h3 class="Box-title">
          Fishers
        </h3>
      </div>
      <ul>
        <% @fishers.each do |fisher| %>
          <li class="Box-row d-flex flex-items-center">
            <div class="flex-auto">
              <strong><%= fisher.name %></strong>
              <div class="text-small text-gray-light">
                <%= pluralize(fisher.devices.unique.count, "device") %>
              </div>
            </div>
            <%= link_to "View", fisher_path(fisher), class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
