<div class="container-lg mt-4">
  <div class="col-12 py-3 d-flex flex-justify-center flex-items-baseline">
    <p class="mr-2">If you are a new user to SEACLOUD and need to create an account, click here <%= octicon("arrow-right") %></p>
    <%= link_to("Create Account", new_user_registration_path, class: "btn") %>
  </div>
  <div class="col-12">
    <%= image_tag("whale-tail.png", class: "width-fit") %>
  </div>
  <div class="col-12">
    <p class="text-center">
      Sea Mammal Education Learning Technology Society (SMELTS) is a non-profit organization dedicated to the research and development of new technologies for the rescue and prevention of harmful human interaction on marine life.
    </p>
  </div>
</div>
