<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @user.full_name %></h1>
<p>
  Your account has been deactivated. If you feel this is an error please reach out to us at <a href="mailto:info@smelts.org">info@smelts.org</a>.
</p>
<p>
  Have a great day,
</p>
<p>The Smelts.org team</p>
</body>
</html>
