<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @user.full_name %></h1>
<p>
  Your request for access to the Smelts ropeless web app has been approved. You can now use the email and password you provided to sign in to <a href="https://ropeless-web.herokuapp.com">the website</a>.
</p>
<p>
  Have a great day,
</p>
<p>The Smelts.org team</p>
</body>
</html>
