@import '@primer/css/index.scss';

// Type
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: $font-weight-normal;
}

#map {
  width: 1000px;
  height: 600px;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.color-bg-pantone {
  background-color: #D9D9D6;
}

.color-pantone {
  color: #D9D9D6;
}

.btn {
  background-color: #102740;
  color: #FFF;

  &:hover, &:focus {
    background-color: lighten(#102740, 10);
  }
}
