<div class="container-lg mt-4 d-flex">
  <div class="col-12">
    <div class="Box p-4">
      <h1>Thanks!</h1>
      <p>Thank you for requesting access. We will be in touch with you shortly via email if we have any further questions. You may safely close this window.</p>
    </div>
  </div>
</div>
